# Temporary, some servers that are currently inactive
QQbot-server/
server-beta/
server-CB/
server-main/mirror/

# MCDR Files
server-*/qb_multi/
server-*/pb_files/
server-*/pcrc/
server-*/plugins/
server-*/config/StatsHelper/quick_scoreboard.json
server-*/config/StatsHelper/uuid.json

# Minecraft Files
server-*/server/banhammer-sqlite.db
server-*/server/eula.txt
server-*/server/ipcache.json
server-*/server/usercache.json
server-*/server/.fabric/
server-*/server/crash-reports/
server-*/server/journeymap/
server-*/server/libraries/
server-*/server/mods/
server-*/server/recordings/
server-*/server/syncmatics/
server-*/server/versions/
server-*/server/world/

# Waterfall Files
server-proxy/modules/
server-proxy/plugins/
server-proxy/server/locations.yml

# Non-config Files in config/
server-*/server/config/spark/tmp
server-*/server/config/luckperms/translations
server-*/server/config/worldedit/assets
server-*/server/config/worldedit/schematics
server-*/server/config/worldedit/sessions
server-*/server/config/NoChatReports/README.md
server-*/server/config/carpettisaddition/logger_subscriptions.json
server-*/server/config/jade/usernamecache.json

# Trivial Files from Mods
*.sparkheap
.archive-unpack

# Other Minecraft Files
**/*.jar
**/*.log
**/logs

# Misc
.vs/
*.html
*.pdf
*.cmd
*.db
*.key
*.pem
*.jar
nohup.out
"Icon\r"
.DS_Store
