# Temporary, some servers that are currently inactive
QQbot-server/
server-beta/
server-CB/
server-main/mirror/

# MCDR Files
**/qb_multi/
**/pb_files/
**/pcrc/
**/plugins/
**/config/StatsHelper/quick_scoreboard.json
**/config/StatsHelper/uuid.json

# Minecraft Files
**/server/banhammer-sqlite.db
**/server/ipcache.json
**/server/usercache.json
**/server/.fabric/
**/server/crash-reports/
**/server/journeymap/
**/server/libraries/
**/server/mods/
**/server/recordings/
**/server/syncmatics/
**/server/versions/
**/server/world/

# Waterfall Files
server-proxy/modules/
server-proxy/plugins/
server-proxy/server/locations.yml

# Non-config Files in config/
**/server/config/spark/tmp
**/server/config/luckperms/translations
**/server/config/worldedit/assets
**/server/config/worldedit/schematics
**/server/config/worldedit/sessions
**/server/config/NoChatReports/README.md
**/server/config/carpettisaddition/logger_subscriptions.json
**/server/config/jade/usernamecache.json

# Trivial Files from Mods
*.sparkheap
.archive-unpack
**/cache/

# Other Minecraft Files
**/*.jar
**/*.log
**/logs

# Misc
*.html
*.pdf
*.cmd
*.db
*.key
*.pem
*.jar
nohup.out
"Icon\r"
.DS_Store
